<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joye.performance_detection">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:fullBackupContent="true">
        <activity android:name=".float_window.RequestPermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>